/gee_asset_manager/tests/images/230.tif
/gee_asset_manager/tests/images/263.tif
/gee_asset_manager/tests/images/4.tif
/gee_asset_manager/tests/images/6.tif
/gee_asset_manager/tests/images/metadata.csv
